
<section id="directives-calendar" ng-controller="CalendarCtrl">
    <div class="page-header">
        <h1>HenHo</h1>
    </div>

    <div ng-show="meeting">
        <div class="row">
            <div class="span12">
                <h2>{{ meeting.subject }}</h2>
                <p>{{ meeting.note }}</p>
            </div>
        </div>
        <div class="row">
            <div class="span12">
                <div class="alert alert-success" ng-show="alertMessage != undefined && alertMessage != ''">
                    <h4>{{alertMessage}}</h4>
                </div>
            </div>
        </div>
        <div class="well">
            <div class="row-fluid">
                <div class="span4">

                    <div class="btn-group calTools">
                        <button type="button" class="btn btn-primary" ng-click="addEvent(selectedDate)">
                            Add Event
                        </button>
                    </div>

                    <ul class="unstyled">
                        <li ng-repeat="e in meeting.proposedTime">
                            <div class="alert alert-info">
                                <a ng-click="goToEvent(e)"><b>{{e.date}}</b></a>
                            </div>
                        </li>
                    </ul>

                </div>

                <div class="span8">
                    <div class="calendar" ng-model="eventSources" calendar="myCalendar2" config="uiConfig.calendar" ui-calendar="uiConfig.calendar"></div>
                    <div class="btn-toolbar">
                        <div class="btn-group">
                            <button class="btn btn-success" ng-click="changeView('agendaDay', myCalendar2)">AgendaDay</button>
                            <button class="btn btn-success" ng-click="changeView('agendaWeek', myCalendar2)">AgendaWeek</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>