
<section id="directives-calendar" ng-controller="EventsCtrl">
    <div ng-show="meeting">
        <div class="row">
            <div class="span12">
                <h2>{{ meeting.subject }}</h2>
                <p>{{ meeting.note }}</p>
            </div>
        </div>
        <div class="well">
            <div class="row">
                <div class="span12">
                    <div ng-repeat="(timestamp, events) in dates" class="row">
                        <div class="span11">
                            <div class="alert alert-blocked">
                                <div class="row">
                                    <div class="span2">
                                        <h3>{{ timestamp | date:'EEE' }}</h3>
                                        <strong>{{ timestamp | date }}</strong>
                                    </div>
                                    <div class="span8">
                                        <div class="row" ng-repeat="event in events">
                                            <div class="span3">
                                                <h4>{{ event.start }}</h4>
                                                <input type="time" max="{{ event.end }}" min="{{ event.start }}" style="width: 80px;" value="{{ event.start }}">
                                            </div>
                                            <div class="span3">
                                                <h4>{{ event.end }}</h4>
                                                <input type="time" max="{{ event.end }}" min="{{ event.start }}" style="width: 80px;" value="{{ event.end }}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>