<div class="modal-header">
    <h3>I'm a modal!</h3>
</div>
<div class="modal-body" id="pickadateContainer">
    {{ selectedStart }}

    <script>
        $(document).ready(function () {
            $('#pickadate').pickatime({
                onSet: function (e) {
                    dump(e);
                }
            });
        });
    </script>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>